body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.half-width{
    width: 40%;
    float: left;
    
   
}
.half-width h1{
    font-size: 50px;
}

#first-section-image{
    height: 550px;
    width: 580px;
    padding-left: 20px;


}
.first-section-first-width{
    padding-left: 50px;
    padding-top: 80px;
}
.first-section-second-width{
    padding-left: 50px;
}
.first-section-first-width h1 span{
    color: orange;
}
.second-section-first-width{
    padding-top: 50px;
    
    padding-left: 250px;
    
}
.second-section-second-width{
    padding-top:130px ;
    
}
.second-section-second-width p{
    font-size: 20px;
}
.second-section-second-width h1{
    color: rgb(65, 61, 61);
}
#second-section-image{

    height: 445px;
}
.first-section{
    
    height: 500px;
}
.second_section{
    background-image: url("../images/7.png");
    background-repeat: no-repeat;
    margin-top: 120px;
    height: 500px;
}
.button{
    text-decoration: none;
    color: white;
    font-size: 16px;
    
    background-image: linear-gradient(90deg,rgb(255, 174, 0),rgb(255, 81, 0));
    height: 50px;
    width: 80px;
    padding: 8px 25px;
    border-radius: 20px;

}
.my-receipe{
    width: 40%;
    padding-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-receipe h1{
    padding-left: 40%;
}
.cardDeck{
    height: 400px;
}
.card{
    width: 30%;
    margin-left: 2%;
    height: 430px;
    margin-top: 15px;
    box-shadow: 5px 5px 15px gray;
    float: left;
    border-radius: 10px;
    margin-bottom: 30px;
}
.card-img{
    height: 250px;
    width: 95%;
    
    padding: 2%;
    
}
.description{
    padding: 2%;
}
.social-net{
    
    margin-top: 120px;
    height: 150px;
    width: 90%;
    margin-left: 4%;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    margin-bottom: 50px;
}
.follower{
    float: left;
    width: 30%;
    padding-left: 3%;
    padding-top: 2%;
    margin-bottom: 30px;
    
    
   
}
.follower h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.follower p{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
background-color: rgb(12, 75, 83);
height: 300px;
}
.footer-first p{
    height: 25px;
    width: 50%;
    background-color: gray;
    border-radius: 5px;
    margin-top: 30px;
    padding:5px ;
    margin-left: 200px;
    color: white;
}
.footer-first{
    margin-top: 50px;
    display: flex;
   margin-left: 15%;
    
}
.footer-first a{
    height: 20px;
    margin-left: 20px;
    margin-top: 30px;
    box-shadow: 5px 5px 15px rgb(44, 42, 42);
    padding-right: 5px;
}
.network h1 span{
 color: rgb(235, 146, 13);
}
.network h1{
   padding-left: 40%;
}
.network p{
    padding-left: 35%;
}